@charset "utf-8";
/**
 * @author: Danilo Aburto Vivians
 */

/**
 * Fonts
 */
//@import url("http://fonts.googleapis.com/css?family=Oswald:400,700,300");
//@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic");

/* Bootstrap */
@import "less/bootstrap/bootstrap.less";

/* Sic */
@import "less/sic/sic.less";


/* Utilities */

.warning p {
  text-align: center;
  background: #ffffbb;
  border: 1px solid #ffcc00;
  padding: 10px;
}

/**
 * Site
 */

html{
  
}

a {
    .transition(color 0.3s);
}

#page {
    
}

.menu {
    position: relative;
}

.menu-main {
    height: 67px;
    background: #660000 url(/img/css/logo.png) 30px 0 no-repeat;
}

.footer {
  	padding: 10px 0;
    background: #660000;
    text-align: center;
    color: #fff;
}

/********************************
 *          Responsive
 ********************************/
@import "less/bootstrap/responsive.less";

// Responsive items
iframe, object, embed {
    max-width: 100%;
    height: auto;
}

/* Phone */
@media (max-width: 767px) {
    
}

/* Tablet */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Wide */
@media (min-width: 1200px) {
    
}